@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Jura:500);
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(https://fonts.googleapis.com/css?family=Carrois+Gothic+SC);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);
body{
	margin:0;

}

#linkhome{
z-index:-2;
border-radius: 10%;
}

.minilogo{
	a{
img{
border-radius: 15% !important;
box-shadow: 1px 1px 1px 1px #ffffff;
}
}
}

#principal{
	width:100%;
	background-color:rgb(214,161,47);
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
}

#cardapios a {
    color:#fff;
}


#principal a {
    text-decoration: none;
    color:#fff;
    font-size:1.3em;
}

#header{
	height: 50px;
	width: 100%;
	background-color: #68122B;
	position: fixed;
	color: #fff;
	text-align: center;
	z-index:1;
}


#gricafe{
	position:relative;
	top:-20px;
}



#header ul li{
	display: inline-block;
	vertical-align: text-top;
	width: 150px;
	text-align: left;
	height:100px;
	padding:7px;
}


#carPier{
	text-align:center;
	font-size:1.3em;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
}

#carPierMenu{
text-align: center;
}

.atual{
    background-color:rgba(242,215,194,1);
    border-radius: 10px;
}

.underline{
    border-bottom: 3px solid white;

}

#carPierMenu li{
	display: inline-block;
	vertical-align: text-top;
	width: 120px;
	padding:7px;
	font-size:1.1em;
}

.caixa{
width:350px;
min-height:100px;
display:inline-block;
margin:10px;
vertical-align:top;
}

.caixa ul{
float: left;
width:250px;
list-style: none;
text-align:left;
}



.caixa ul li{
position:relative;
left:-35px;
}

.caixa img{
float:left;
width:97px;
height:97px;
}

.bebida{
width:350px;
}

.bebida ul{
width:250px;
}

.ligeiro{
width:600px;
}

.ligeiro ul{
width:500px;
}
#banner{
	height:600px;
	background: url(../img/fundo1.png) no-repeat center -120px fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index:-10;
	text-align:center;
}

#apresent{
	height:300px;
	width:100%;
	background-color:rgb(214,161,47);
	background: url(../img/cup.jpg),url(../img/bgapres.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-size:500px 300px;
}

#aprfundoimg{
	float:left;
}

#aprtexto{
	float:left;
	width:45%;
	left:520px;
	font-size:1.6em;
	text-align:justify;
	position:relative;
	top:45px;
	word-spacing: 0.5px;
}

#aprtexto p{
text-indent:120px;
}

#navcardapios{
	height: 50px;
	width: 100%;
	background-color: #68122B;
	color: #fff;
	text-align:center;
}

#navcardapios ul{
	position:relative;
	margin-top:0px;
	top:15px;
	clear:both;
	z-index:1;
}

#navcardapios ul li{
	display: inline-block;
	width: 120px;
	text-align: left;
}


#navcardapios ul li h3{
border: solid black 1px;
}

#cardapios{
	width:100%;
	background-color:rgb(214,161,47);
	float:left;

}

#card1{
	width:100%;
	height:300px;
	background:url(../img/bglight.jpg);
	background-repeat:no-repeat;
	background-position:center left;
	background-size:100%;
}


#card1 img{
	float:left;
	height:300px;
    vertical-align: text-bottom;
}

#card2{
	width:100%;
	height:300px;
	background:url(../img/bgtrad.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 100%;

}


#card2 img{
	float:left;
	height:300px;
    vertical-align: text-bottom;
}


#txtcard2{
	font-size:1.35em;
	width:600px;
	color:#000;
	background-color:rgba(255,255,255,0.4);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:5px;
margin-left:400px;

}

#txtcard2 p a{
    color:#fff;
}

#card3{
	width:100%;
	height:300px;
	background:url(../img/bglivre.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}


#card3 img{
	float:left;
	height:300px;
    vertical-align: text-bottom;
}

#card4{
	width:100%;
	height:300px;
	background:url(../img/bgligeiro.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 100%;
}

#card4 img{
	float:left;
	height:300px;
    vertical-align: text-bottom;
}

#card5{
	width:100%;
	height:300px;
	background:url(../img/bgdiab.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}


#card5 img{
	float:left;
	height:300px;
    vertical-align: text-bottom;
}

#card6{
	width:100%;
	height:300px;
	background:url(../img/bgextras.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 100%;
}


#card6 img{
	float:left;
	height:300px;
    vertical-align: text-bottom;
}

#contato{
	background-color:rgb(214,161,47);
	text-align:center;
	width: 100%;	
	float:left;
	min-height:800px;
}

.cont{
	display:inline-block;
	width:450px;
	height:250px;
	position:relative;
	float:left;
	margin:50px;
	margin-right:0px;

}


#listContato ul{
	list-style-type:none;
	text-align:left;
	font-size:1.8em;
	margin-top:-10px;
}



.map {
    -webkit-filter: sepia(100%);
       -moz-filter: sepia(100%);
        -ms-filter: sepia(100%);
         -o-filter: sepia(100%);
            filter: sepia(100%);
}